

@{    
    //using 
    ViewData["Title"] = "Roles";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@ViewData["Title"]</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">@ViewData["Title"]</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>



    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">                       
                        <!-- /.card-header -->
                        <div class="card-header">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#modal-default">Add New Role</button>                            
                        </div>
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>                                        
                                        <th>Role Name</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @{
                                        foreach (var role in Model)
                                        {

                                            <tr>                                               
                                                <td>@role.Name</td>
                                                <td>
                                                    <button class="btn btn-warning"data-toggle="modal" data-target="#modal-Update"  onclick="updateModalValues('@role.Id','@role.Name')"> Update</button>
                                                    <form class="form-inline" method="post" asp-action="Delete" asp-controller="Roles"> 
                                                    <div class="form-group">
                                                        <input type="hidden" name="id" value="@role.Id">
                                                        <input type="submit" class="btn btn-Danger" value="Delete">                                                          
                                                    </div>
                                                        
                                                    </form>                                                    
                                                </td>
                                            </tr>
                                        }
                                    }                                                             
                                  
                                </tbody>                               
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->

    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add New Role</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form asp-controller="Roles" asp-action="create" method="post">
                    <div class="modal-body"> 
                        <div class="form-group">
                            <label>Role Name</label>
                            <input type="text" class="form-control" placeholder="Enter Role name" name="name"/>
                        </div>                
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" name="submit">Save</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>             
                    </div>
                 </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


    <div class="modal fade" id="modal-Update">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Role Role</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form asp-controller="Roles" asp-action="Update" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="hidden" id="0" name="Id">
                            <label>Role Name</label>
                            <input id="1" type="text" class="form-control" placeholder="Enter Role name" name="name" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" name="submit">Save</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
<!-- /.content-wrapper -->